body {
    background-color: #f6f6f6;
    font-family: "Tajwal", sans-serif;
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.pre {
        padding-left: 60px;
} 

.social-links img {
    margin: 10px;
    height: 25px;
    width: 27px;
}

.logo {
    height: 45px;
    width: 140px;
    margin-right: 60px;
}

article {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-between;
}

.font-1 {
    margin-left: 60px;
    margin-right: 60px;
    text-decoration: none;
    font-size:xx-large;
}

.font-1 h1 {
    font-weight: lighter;
    text-align: right;
    margin-bottom: 5px;
}

.font-1 p {
    text-align: right;
    color: rgba(35, 37, 37, 0.87);
    font-weight: lighter;
    font-size: x-large;
}

.font-1 button {
    display: block;
    margin-left: auto;
    margin-top: 50px;
    margin-right: 0;
    padding: 15px 25px;
    color: white;
    border: none;
    cursor: pointer;
    width: 250px;
    max-width: 300px;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    font-weight: lighter;
    font-size: 27px;
    background-color: #025b5b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.font-1 button:hover {
    background-color: #023f3f;
}

.font-1 button img {
    margin-right: 30px;
    width: 25px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    max-width: 100%;
    height: auto;
    border-radius: 20%;
}

.image-space {
    margin-bottom: 40px;
}

.services {
    text-align: center;
    padding: 50px;
    background-color: #f2f2f2;

}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.service-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.services h1 {
    font-size: 50px;
    font-weight: lighter;
}

.service-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 15px;
    color: #666;
}

.contact-form {
    max-width: 800px;
    margin: auto;
    padding: 40px 300px;
    background-color: #f2f2f2;
}

.contact-form h1 {
    font-size: 50px;
    font-weight: lighter;
}

.right-align {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.contact-button {
    display: block;
    margin-left: auto;
    padding: auto;
    background-color: #025b5b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
    font-size: larger;
}

.contact-button:hover {
    background-color: #023f3f;
}

.advert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 40px 20px;
    margin:20px 5px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background: #020609;
    background-image: radial-gradient(ellipse at 50% 40%, #3d434c, transparent 60%);
    color: white;
}

.advert button {
    display: block;
    margin-left: 40px;
    padding: 15px 20px;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    max-width: 300px;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    background-color: #025b5b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.advert h1 {
    margin-right: 70px;
    font-size: 50px;
    font-weight:lighter;
}

.advert button:hover {
    background-color: #023f3f;
}

.advert button img{
    margin-right: 20px;
    width: 25px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    max-width: 1500px;
    background-color: #f2f2f2;
    font-size:20px ;
    color: rgb(0, 0, 0);
}

.footer-section  {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section img {
    height: 30px;
    width: 30px;
}
.footer-section h4 {
    margin-bottom: 15px;
}

.logo- {
    height: 50px;
    width: 100px;
}

.footer-section p {
    margin: 5px 0;
}
.social-icons a {
    display: inline-block;
    margin: 0 10px;
}
.footer-bottom {
    text-align: center;
    font-size: x-large;
}
